@charset "utf-8";
body{
    background-color:red;
    margin:0px;
    padding:0px; 
    box-sizing: border-box;  
}
.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,0,0,0.5);
    position: sticky;
    top:0;
}
.navbar ul{
    display:flex;
    list-style:none;
    margin:20px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration:none;
    color: white;
    padding: 20px ;
    
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
     box-shadow:0 0 10px white;

}
#home{
    display:flex;
    flex-direction: column;
    height:840px ;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('image.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 10%;
}
.headings{
    font-family:century ;
    font-size: 2rem;
    text-align: center;
    margin: auto;
}
.btn{
    padding: auto;
    background-color: transparent;
    color: white;
    outline: none;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    
}
#about{
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 70px;

}
#pic{
    display: flex;
}
#pic img{
    width: 600px;
    height:500px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-size: large;
}
#intro h1{
    font-size: 10rem;
    margin-bottom: 20px;
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin:15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    width: 10%;
    padding: 10px;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: white;
}
